VITE_API_BASE=http://127.0.0.1:8000
VITE_DEFAULT_SEGMENTATION_SERVICE_URL=http://117.50.216.65:9000/segment

# 下一步接 Supabase 登录/云端任务中心时会用到：
VITE_SUPABASE_URL=https://zquzxuuoicheutirlxxc.supabase.co
VITE_SUPABASE_ANON_KEY=
